<!-- Navbar -->
<%= render 'shared/navbar_pages' %>
<div id="terms">
  <div class="banner-pages">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Terms and Conditions</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="pages-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <h2>Terms of Service</h2>
        </div>
      </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
       <p> This Terms of Service Agreement (the “Agreement”) is an agreement between you (the “user”) and Iggrow (the “service provider”, “we” or “us”). We will provide the following professional services to the user:
       During the term of this agreement, the service provider will offer to the user the full management of the social media platforms listed below, with exception of content management. The Service Provider will increase the visibility and traffic of the selected social media account(s) of the user by actively promoting the account with all possible actions as (un)following (re)publishing or (un)liking users, messages, trending topics or media. </p>
  </div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h3>Termination</h3>
<p>
Either party may terminate this agreement at the end of each monthly period, by giving written notice to the other, specifying the termination date, such notice to be given not less than seven (7) days prior to the end of every monthly period. Refunds are at no means possible.
</p>
<h3>Right of withdrawal</h3>
<p>
This section applies to you if you are a EU citizen and a “consumer” as defined under the Directive 2011/83/EU of the European Parliament and of the council October 2011 on consumer rights.
<br>
You have the right to withdraw your contract for the Services within fourteen days from the date of placing your initial order for a Subscription (“Cancellation Period”), by using the contact form ( http://Iggrow.com/contact/ ). If you withdraw your contract for the Services during the withdrawal period, we shall reimburse you for the period that is not exceeded. So on a monthly subscription, if you cancel the 10th day, you will get reimbursed for 2/3rd of your subscription.
<br>
All reimbursements shall be made to you within fourteen days and using the same means of payment you used for the initial transactions, unless you have expressly agreed otherwise.
<br>
Withdrawal rights under this Article only apply to your initial order for a Subscription and do not apply to Subscription renewals.
In agreeing to these Terms and Conditions, you expressly request that we provide you with the Services immediately and within the fourteen day statutory Withdrawal Period.
</p>
<h3>Proprietary information</h3>
<p>
The Service Provider acknowledges that the login and password are confidential and proprietary to the user; The Service Provider will do everything within its means to safeguard that information and to prevent the unauthorized use or disclosure thereof.
</p>
<h3>Exonerations and warranties</h3>
<br>
<p>
The service provider is not affiliated with any of the social media platforms in any way.
The Service Provider cannot be held responsible for the impact of the media campaign if there is a change in one or more social media platforms. The Service Provider cannot guarantee the continuous, uninterrupted or error-free operability of the social media platform, nor our services.
<br>
Service Provider warrants that its services shall be performed in a professional and workmanlike manner and that it will provide Support Services in accordance with this Agreement.
<br>
The Service Provider cannot guarantee that the actions to increase visibility and traffic provided on the in section 2 of this agreement selected social media platforms, does not contain any untrue, defamatory, harmful, abusive, vulgar or obscene materials, is in compliance with all applicable laws, does not infringe upon the rights of any other party, including but not limited to copyrights, trademarks, privacy rights, moral rights, trade secrets, patents and any other rights, since their service is at least partially automated. Once noticed about one of the above described actions, they will do whatever possible to undo the action. They cannot be held responsible by any damage caused by such an action.
<br>
The Service Provider makes no warranties that the actions to increase visibility and traffic contained on the in section 2 of this agreement selected social media platforms will be free from errors or defects or that the use of the platform will be uninterrupted.
<br>
THE SERVICE PROVIDER SPECIFICALLY DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT ON THE RIGHTS OF THIRD PARTIES. IN NO EVENT SHALL THE ADVERTISING SERVICE PROVIDER BE LIABLE, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, FOR ANY INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING LOST SALES OR PROFIT, LOST DATA, BUSINESS INTERRUPTION OR ATTORNEYS’ FEES), EVEN IF NOTIFIED IN ADVANCE OF SUCH POSSIBILITY.
<br>
THE SERVICE PROVIDER WILL NOT BE RESPONSIBLE FOR ANY DAMAGE CAUSED BY RESTRICTION ON OR CLOSURE OF THE UNDER SECTION 2 SELECTED SOCIAL MEDIA PLATFORMS, THAT ARE NOT THE RESULT OF THE UNDER THIS SECTION, POINT A DESCRIBED ACTIONS BY THE SERVICE PROVIDER. THE USER RECOGNISES THAT HE IS AWARE THAT ACTIVELY PROMOTING A SOCIAL MEDIA ACCOUNT CAN AT A CERTAIN POINT VIOLATE THE TERMS AND CONDITIONS OF THAT SOCIAL MEDIA PLATFORM. THE SERVICE PROVIDER CAN NOT BE HOLD RESPONSIBLE FOR ANY ACTIONS TAKEN BY THE SOCIAL MEDIA PLATFORM TO STOP THE ACTIVE PROMOTION, EVEN THE CLOSURE OF THE ACCOUNT, NOR THE DAMAGE CAUSED BY THOSE ACTIONS TAKEN BY SOCIAL MEDIA PLATFORMS. It is the User’s sole responsibility to comply with the social media platform rules and any legislation subjected to.
</p>
<h3>Force Majeure</h3>
<br>
<p>
The Service Provider will not be responsible for any failure or delay in performance hereunder that is directly or indirectly related to acts of God, storm, natural disaster, act of terrorism, utility outages or interruptions, system transmission failure, server failure, strike, lockout, or any other situation which is beyond its control.
</p>
<h3>Proprietary rights</h3>
<br>
<p>
The user will retain all proprietary rights in and to its respective social media platforms and other proprietary materials such as copyrights, trademarks, trade secrets, patents and confidential information.
Dispute resolution
In the event that any dispute arises hereunder, the parties agree that prior to commencing litigation, arbitration, or any other legal proceeding, each party shall send an officer of such party to negotiate a resolution of the dispute in good faith at a time and place as may be mutually agreed. Each officer shall have the power to bind its respective party in all material respects related to the dispute.
</p>

<h3>Termination</h3>
<p>
Either party may terminate this agreement at the end of each monthly period, by giving written notice to the other, specifying the termination date, such notice to be given not less than seven (7) days prior to the end of every monthly period.
Refunds are at no means possible.
</p>

<h3>Right of withdrawal</h3>
<p>
This section applies to you if you are a EU citizen and a “consumer” as defined under the Directive 2011/83/EU of the European Parliament and of the council October 2011 on consumer rights.
<br>
You have the right to withdraw your contract for the Services within fourteen days from the date of placing your initial order for a Subscription (“Cancellation Period”), by using the contact form ( http://Iggrow.com/contact/ ). If you withdraw your contract for the Services during the withdrawal period, we shall reimburse you for the period that is not exceeded. So on a monthly subscription, if you cancel the 10th day, you will get reimbursed for 2/3rd of your subscription.
<br>
All reimbursements shall be made to you within fourteen days and using the same means of payment you used for the initial transactions, unless you have expressly agreed otherwise.
<br>
Withdrawal rights under this Article only apply to your initial order for a Subscription and do not apply to Subscription renewals.
In agreeing to these Terms and Conditions, you expressly request that we provide you with the Services immediately and within the fourteen day statutory Withdrawal Period.
</p>

<h3>Proprietary information</h3>
<p>
The Service Provider acknowledges that the login and password are confidential and proprietary to the user; The Service Provider will do everything within its means to safeguard that information and to prevent the unauthorized use or disclosure thereof.
Exonerations and warranties
<br>
The service provider is not affiliated with any of the social media platforms in any way.
The Service Provider cannot be held responsible for the impact of the media campaign if there is a change in one or more social media platforms. The Service Provider cannot guarantee the continuous, uninterrupted or error-free operability of the social media platform, nor our services.
<br>
Service Provider warrants that its services shall be performed in a professional and workmanlike manner and that it will provide Support Services in accordance with this Agreement.
<br>
The Service Provider cannot guarantee that the actions to increase visibility and traffic provided on the in section 2 of this agreement selected social media platforms, does not contain any untrue, defamatory, harmful, abusive, vulgar or obscene materials, is in compliance with all applicable laws, does not infringe upon the rights of any other party, including but not limited to copyrights, trademarks, privacy rights, moral rights, trade secrets, patents and any other rights, since their service is at least partially automated. Once noticed about one of the above described actions, they will do whatever possible to undo the action. They cannot be held responsible by any damage caused by such an action.
<br>
The Service Provider makes no warranties that the actions to increase visibility and traffic contained on the in section 2 of this agreement selected social media platforms will be free from errors or defects or that the use of the platform will be uninterrupted. THE SERVICE PROVIDER SPECIFICALLY DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT ON THE RIGHTS OF THIRD PARTIES. IN NO EVENT SHALL THE ADVERTISING SERVICE PROVIDER BE LIABLE, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, FOR ANY INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES (INCLUDING LOST SALES OR PROFIT, LOST DATA, BUSINESS INTERRUPTION OR ATTORNEYS’ FEES), EVEN IF NOTIFIED IN ADVANCE OF SUCH POSSIBILITY.
<br>
THE SERVICE PROVIDER WILL NOT BE RESPONSIBLE FOR ANY DAMAGE CAUSED BY RESTRICTION ON OR CLOSURE OF THE UNDER SECTION 2 SELECTED SOCIAL MEDIA PLATFORMS, THAT ARE NOT THE RESULT OF THE UNDER THIS SECTION, POINT A DESCRIBED ACTIONS BY THE SERVICE PROVIDER. THE USER RECOGNISES THAT HE IS AWARE THAT ACTIVELY PROMOTING A SOCIAL MEDIA ACCOUNT CAN AT A CERTAIN POINT VIOLATE THE TERMS AND CONDITIONS OF THAT SOCIAL MEDIA PLATFORM. THE SERVICE PROVIDER CAN NOT BE HOLD RESPONSIBLE FOR ANY ACTIONS TAKEN BY THE SOCIAL MEDIA PLATFORM TO STOP THE ACTIVE PROMOTION, EVEN THE CLOSURE OF THE ACCOUNT, NOR THE DAMAGE CAUSED BY THOSE ACTIONS TAKEN BY SOCIAL MEDIA PLATFORMS. It is the User’s sole responsibility to comply with the social media platform rules and any legislation subjected to.
</p>
<h3>Force Majeure</h3>
<p>
The Service Provider will not be responsible for any failure or delay in performance hereunder that is directly or indirectly related to acts of God, storm, natural disaster, act of terrorism, utility outages or interruptions, system transmission failure, server failure, strike, lockout, or any other situation which is beyond its control.
</p>
<h3>Proprietary rights</h3>
<p>
The user will retain all proprietary rights in and to its respective social media platforms and other proprietary materials such as copyrights, trademarks, trade secrets, patents and confidential information.
</p>
<h3>Dispute resolution</h3>
<p>
In the event that any dispute arises hereunder, the parties agree that prior to commencing litigation, arbitration, or any other legal proceeding, each party shall send an officer of such party to negotiate a resolution of the dispute in good faith at a time and place as may be mutually agreed. Each officer shall have the power to bind its respective party in all material respects related to the dispute.
</p>
</div>
<div class="text-center">
<h3>PRIVACY POLICY:</h3>
</div>


<h3>Scope</h3>
<p>
The present Privacy Policy is applicable to the collection of data by Iggrow Marketing LTD,(hereinafter “Iggrow”) and all other companies linked to  Iggrow using the data or information collected via the website: www.Iggrow.com (hereinafter the  “Website”).
If you use this Website as a visitor, or you decide to sign up or register or you choose to disclose information on this Website, you agree with the use of these data in accordance with the present Privacy Policy. Please note that this Website may contain links to other websites that may not be subject to this Privacy Policy and for which, therefore, Iggrow is neither responsible nor liable.
Iggrow reserves the right to modify this Privacy Policy at all times, without any prior warning in order to comply with the (changing) legal obligations and/or to improve our service towards you. We therefore advise you to consult the Website on a regular basis.
</p>

<h3>The collection of data</h3>
<p>
The personal identifiable data which is collected by Iggrow via its Website can consist of, without being limited to, your name, address, email address and telephone number. The user hereby unequivocally and irrevocably gives his or her consent to use the personal data under the terms set out in this Privacy Policy.
It is possible to visit the Website without having to disclose any data. The disclosing of data is firstly foreseen when filling out the order form.
Iggrow does not store the data longer than legally admissible and in any case not longer than required for the purposes mentioned hereafter.
</p>

<h3>The use of personal data</h3>
<p>
Iggrow acts as the controller for the processing of personal data and will process these data for the following purposes: user administration, market research, direct marking among which the sending of a newsletter, the improvement of the content and the quality of the Website, enhance a better compatibility of the Website to the interests, needs and desires of its users and accurately tracking, improving and completing the personal data as required by law.
Iggrow will ensure that for its marketing activities it will comply with the applicable legislation and that it will obtain the necessary authorizations before the user receives any emails or other electronic communication from Iggrow or one of its partners. You can demand at any time to stop the sending of such information.
Each visitor has the right to access, modify, correct and delete his or her data. He or she can also, free of charge and upon request, oppose him- or herself against the processing of his/her personal data for direct marketing purposes. These data can be transmitted to third parties within the limits and conditions as set out under the title “Transmitting data to third parties” except in case of an opposition hereto. The aforementioned right can be exercised by writing to the following email address info@Iggrow.com accompanied by a copy of the front side of his or her identity card.
Iggrow takes all reasonable measures to ensure the confidentiality of the personal data which are disclosed by the user. However, each user recognizes that the disclosure of personal data via the internet is not without any risks. The user consequently acknowledges that Iggrow cannot be held accountable or liable for any potential direct and indirect damage he/she would suffer as a consequence of an illegal or illegitimate use of his/her data by third parties who do not have the authorization to use these data.
</p>

<h3>Transmitting data to third parties</h3>
<p>
Although Iggrow may transfer personal data to so-called service providers who process data in its name, Iggrow will not share data with third parties for secondary or unrelated purposes unless otherwise stated when collecting these data.
Where appropriate or required, Iggrow will be entitled to transmit personal data to law enforcement authorities, regulatory or other government agencies, or third parties where necessary or desirable to comply with legal or regulatory obligations or in the context of the above-mentioned purposes.
</p>

<h3>Cookies and web beacons</h3>
<p>
In order to enhance the functionality and user-friendliness of the Website, Iggrow uses “cookies” or “web beacons”, including Google Analytics.
Cookies are small text files or parts of information that are stored on the hard drive of a user. Cookies are files which keep traces of previous visits to certain websites and the information that is associated with these visits. Web beacons are electronic images that make it possible to count the number of visitors to a particular website and provide access to certain cookies.
Iggrow can use these tools to monitor information on its systems and to identify categories of users on the basis of data such as the IP address, the domain, browser type and visited pages. This information is communicated to Iggrow’s webmasters who use this information to analyze on the different parts of the Website the users and to ensure that the Website is serving as a useful, effective information source.
Neither the cookies nor the web beacons used on the website collect the name or email address of the user. However, under certain circumstances it is possible that users do not have access to certain parts of the Website, if the user rejects the use of Google analytics cookies. You can change your choice at any time by amending the cookie settings of your browser.
</p>

<h3>Security of data</h3>
<p>
Iggrow uses generally accepted and reasonable methods consistent with current technological developments with regard to the operational security to offer protection against loss, abuse, alteration or destruction of all information submitted by users.
</p>

<h3>Users’ questions</h3>
<p>
If you should have any questions about this Privacy Policy or the feeling that your interests are not or inadequately represented, you can address all your questions to the following email address: iggrowsocial@gmail.com.
</p>

<h3>Competent Court and Applicable Law</h3>
<p>
These General Terms of Use shall be governed by – and construed in accordance with – the Belgian legislation. The competent courts for disputes regarding this Privacy Policy will be the courts of Brussels, unless otherwise imposed by mandatory statutory provisions.
</p>
<div class="text-center">
  <h3>GENERAL TERMS OF USE OF THE WEBSITE</h3>
</div>
<p>
Article 1: Property and modification Website
<br>
<br>
The website www.iggrow.com in all its forms including applications, (hereinafter the “Website”) are  managed by – and are property of Iggrow Co,(hereinafter “Iggrow”).
In case of questions, complaints and/or remarks with regard to the Website, you can always contact us by e-mail to the following email address: iggrowsocial@gmail.com .
Iggrow reserves the right to modify these General Terms of Use at all times, without any prior warning, in order to comply with the (changing) legal obligations or to improve our service for you. Any modified version of these General Terms of Use shall be deemed to have been applicable as from the first date of publication on the Website. We advise you to regularly consult the Website.
Using the Website implies that the “user” of the Website (included herein, but not limited to, the mere internet user, advertiser, etc.) agrees entirely and irrevocably with the conditions and guidelines for the use of the Website contained in the present General Terms of Use.
<br>
<br>
Article 2: Intellectual Property Rights
<br>
<br>
All components of the Website (including but not limited to the used software, source codes, layout, text, logos, photographs, drawings, images, sound, databases, names, trademarks and domain names) are works protected by copyright and / or other intellectual property rights including trade marks.
All relevant property rights, including intellectual property rights (copyright, trademarks, database rights, design rights, etc.) belong to Iggrow or are included on the Website with the authorization of the owner of the relevant rights.
No component of the Website itself, nor the data and information provided on the Website may be stored (other than required in order to visit the Website), or reproduced, modified, translated, rendered public, distributed, rented out, sold, transferred to others or in any way used without the prior written authorization of Iggrow.
<br>
<br>
Article 3: Liability
<br>
<br>
Iggrow is careful to provide information that is as accurate as possible but can not guarantee the complete accuracy, completeness or suitability of the information on the Website and can not be held liable for this. This applies to the information that has been posted on the Website by Iggrow as well as to the information from users or other parties. ‘Information’ shall mean everything that can be found on the Website, including text, images, sound, data, etc.
<br>
Iggrow is not liable for any decision or action that would be taken by the user on the basis of information provided on the Website, nor is it responsible for any errors or mistakes of the user based on the information on the Website.
Iggrow is not liable for direct or indirect damages or any damages that could be caused by inaccuracy, incompleteness, inadequacy, forgetfulness or neglect in providing, composing, drawing, writing and interpreting the information on the Website.
Iggrow is not liable for any permanent or temporary damage or defaults of the computer equipment or data from the user during or after the use of the Website. In particular, Iggrow cannot be held liable for the possible transmission of viruses, trojans and such via the Website.
<br>
Iggrow is not liable for links to websites operated by others, or for the damage caused in the course of a visit to such websites. Iggrow has no control over such websites and cannot be held liable for the content displayed thereon.
or the realization of the Website, Iggrow is using, to the reasonably largest extent, the most modern available techniques.
<br>
However, Iggrow can not be held responsible for the (temporary) failure or any malfunctioning or maintenance work on – or of – the Website.
<br>
Article 4: Privacy
<br>
<br>
Given the evolution of the privacy legislation, Iggrow reserves the right to change its Privacy Policy at any moment. Consequently, Iggrow advises the user to verify on a regular basis on the Website whether changes have been made to the Privacy Policy.
<br>
Article 5: Waiver
<br>
<br>
The lack of enforcement by Iggrow of any provision of these General Terms of Use or not undertaking any action with respect to a user of the Website in the event of a possible breach of any provision, cannot be interpreted as a waiver of claim or right in respect of any provision in the context of a possible future infringement by a user.
<br>
<br>
Article 6: Severability
<br>
<br>
If any provision of these General Terms of Use should be considered wholly or partly illegal, invalid or unenforceable under applicable law, that provision will no longer be part of these General Terms of Use. The legality, validity and binding nature of the other provisions of these General Terms of Use shall remain unaffected.
<br>
<br>
Article 7: Competent Court and Applicable Law
<br>
<br>
These General Terms of Use shall be governed by – and construed in accordance with – the Belgian legislation. The competent courts for disputes regarding these General Terms of Use will be the  courts of Brussels, unless otherwise imposed by mandatory statutory provisions.
<br>
</p>
</div>


<!-- Footer -->
<%= render 'shared/footer_pages' %>
